/*
body{
font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.o_sub_menu{
  bottom: 0 !important;
  float: none !important;
  height: 100vh !important;
  left: 0 !important;
  position: fixed !important;
  top: 0 !important;
  box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)!important;
  background-color: #343a40 !important;
  z-index: 1038 !important;
  transition: margin-left .3s ease-in-out,width .3s ease-in-out !important;
  width: 250px !important;
  display: block !important;
}

.o_.main .o_hidden {display: block; }
.oe_menu_leaf {
    margin-bottom: .2rem !important;
    color: #c2c7d0 !important;
    border-radius: .25rem !important;
    display: block !important;
    padding: .5rem 1rem !important;
    text-decoration: none !important;
    background-color: transparent !important;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"  !important;
    font-size: 1.6rem !important;
    }
#oe_main_menu_navbar {
    transition: margin-left .3s ease-in-out  !important;
    margin-left: 250px !important;
    background-color: #fff !important;
    border-bottom: 1px solid #dee2e6 !important;
    z-index: 1034 !important;
    position: relative !important;
    padding: .5rem .5rem !important;
    border-color: white !important;
    box-sizing: border-box !important;
    line-height: 1.5 !important;

}

#oe_main_menu_navbar  li{
  padding: .5rem 1rem !important;
  font-size: 1rem !important;

}


#oe_main_menu_navbar  li:active{
  font-size: 1rem !important;
  background-color: #343a40;
}


.navbar-collapse {
  border-bottom: 1px solid #dee2e6 !important; 
}

.navbar-nav .active a{
 background-color: transparent !important;
}

.navbar-nav .active span{
 background-color: transparent !important;
}

.navbar-nav  a:hover{
 background-color: transparent !important;
 color: color: #9d9d9d;
}


.navbar-nav .active  {
background-color:#343a40 !important;
border-radius: .25rem !important ;
}

.o_main_content {
   min-height: 1632.75px !important;
   margin-left: 250px !important;
   background: #f4f6f9 !important;
   box-sizing: border-box !important;

}

.o_sub_menu a:hover {
  background-color: rgba(255,255,255,.1)  !important;
    color: #fff  !important;
}

.o_sub_menu .active {
    background-color: #007bff !important;
    
}

.o_sub_menu .active span  {
color: white !important;
}

.o_sub_menu li {
 border-radius: .25rem !important ;
 margin: 0rem 1rem !important;
}

.o_sub_menu a {
padding: 1rem !important;
}


a span{
 margin-bottom: .2rem !important;
 padding: .5rem 1rem !important;
 border-radius: .25rem !important ;
}


.btn-primary {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
    box-shadow: none !important;
}

.btn-primary:after {
     border-left: 11px solid #007bff !important;
}

*/
